<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restaurants-api-prod-ckeeh7f7h4ccheff.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>869b33ee-903d-4edd-b3b6-9b35defc101c</ProjectGuid>
    <PublishUrl>https://restaurants-api-prod-ckeeh7f7h4ccheff.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$restaurants-api-prod</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>